In [ ]:
# 1. p, s = 9, 8
# p *= s ?
# p -= s ?
# p = p/s ?
# p >>= s ?
# p = p << s ?

p,s = 9,8
p *= s
print(p)       #output: 72

p -= s           #output:1
print(p)

p = p/s            #output:1.125
print(p)

(p >>= s)         #output:0
print(p)

p = p << s       #output:2304
print(p)

SyntaxError: ignored

In [ ]:
# 2. Example of a multiline comment?

# A multiline comment can be written by using docstring(''')
 '''This is to write a 
        multiline comment'''

In [ ]:
# 3. S, t = 3, 4
# S %= t ?

S ,t = 3, 4
print((S%t))

3

In [ ]:
# 4. A = 8, B = 10
# A&B ?
# A or B?
A= 8
B= 10
print(A&B)
print(A or B)

8
8

In [ ]:
# 5. Command to find the length of the string?

a = 'code for india'
# to find the lenth of the string,we use
len(a)

14

In [ ]:
# 6. Which of the following is an invalid identifier?
# a. a123
# b. _n_9
# c. All_is_well
# d. aB1!

# answer is (d) as it is invalid because it has a symbol.And a variable cannot contain a symbol

In [ ]:
# 7. Give an example for each of these for a 4 words sentence -Title Case, CamelCase, SnakeCase?

# Title Case: Code For India
              # My Python
              # Acer Laptop
              # Artificial Intelligence
# camel case: my Python
            # moinSmuf
            # lenEvo
            # iPod
# snake case :code_for_india
            #  Code_For_India
            # my_variable
            #

In [ ]:
# 8. a, b , c = 1, 2, 3
# What is the output for b*(c+a)?
a,b,c = 1,2,3
# according to the precedence rule first perenthasis should be solved
print(b*(c+a))

8

In [ ]:
# 9. str1 = ' how are you'
# Print ‘are’ only.

str1 = ' how are you'
# if we want to print 'are' we should use slicing
print(str1[5:8])

are

In [ ]:
# 10. Write the command to get only imaginary numbers in the code below?
import cmath
x = 5
y = 5
z = complex(x,y)
print(z-5)

5j

In [ ]:
# 11. bool( { } )?
# bool(False)?
bool( { } )
bool(False)

False

In [ ]:
# 12. What are the data types of following respectively?
# a. (1,[2,3]) #tuple
# b. [1,2,’f’] #list
# c. ‘hey1’    #string
# d. 123       #integer
# e. { (1,2):[‘e’] }  #dictionary

In [ ]:
# 13. What is the output for the code below?
print(10 == 9)

False

In [ ]:
# 14. What is the output for the below code?
quantity = 3
itemno = 567
price = 49.95
myorder = "I want to pay {2} dollars for {0} pieces of item {1}."
# this method is called string formatting
print(myorder.format(quantity, itemno, price))

I want to pay 49.95 dollars for 3 pieces of item 567.

In [ ]:
# 15. Convert the words ‘miss’ and ‘python’  to ‘mam’ and ‘C’ respectively without redeclaring the string?
Str2 = 'hey miss! Welcome to python'
Str2.replace('miss','mam')
Str2.replace('python','C')

'hey miss! Welcome to C'

In [ ]:
# 16. Convert the string to title case and lower case?
Str3='HYderabaD'
Str3.title()
Str3.lower()

'hyderabad'

In [ ]:
# 17. Print how many numbers of ‘ A ‘ / ‘ a ‘  are there in the string without counting manually?
Str4 = 'All apples are red in color and round in shape'
print(Str4.count('A'))
print(Str4.count('a'))

1
4

In [ ]:
# 18. What is the output for the code below?
x = {1,2,3,4,5}
y = {4,5,6,7,8}
# print(x+y)  '+' cannot be used we use union method
print(x.union(y))

{1, 2, 3, 4, 5, 6, 7, 8}

In [ ]:
# 19. 
x = {1,2,3,4,5}
y = {4,5,6,7,9}
print( x | y )

{1, 2, 3, 4, 5, 6, 7, 9}

In [ ]:
# 20. What are the outputs for the code below?
print(0 | True)
print(0 == True)
print('19' == 19 )

1
False
False

In [ ]:
# 21. Write a python code to add first n numbers?
a=int(input('enter a number:'))
b=0
for i in range(0,a+1):
  b=b+i
print(b)

enter a number:10
55

In [ ]:
# 22. Write a code to loop over the items in fruits list?
fruits = ["apple", "orange", "kiwi"]
i=0
while i in range(len(fruits)):
  print(fruits[i])
  i+=1

apple
orange
kiwi

In [ ]:
# 23. Write a python code to print 6 tables using for and while loop?
# for i in range(1,7):
#   for j in range(1,11):
#     print(i,'x',j,'=',i*j)

i=1
while i in range(1,7):
  j=1
  while j in range(1,11):
    print(i,'x',j,'=',i*j)
    j+=1
  i+=1

1 x 1 = 1
1 x 2 = 2
1 x 3 = 3
1 x 4 = 4
1 x 5 = 5
1 x 6 = 6
1 x 7 = 7
1 x 8 = 8
1 x 9 = 9
1 x 10 = 10
2 x 1 = 2
2 x 2 = 4
2 x 3 = 6
2 x 4 = 8
2 x 5 = 10
2 x 6 = 12
2 x 7 = 14
2 x 8 = 16
2 x 9 = 18
2 x 10 = 20
3 x 1 = 3
3 x 2 = 6
3 x 3 = 9
3 x 4 = 12
3 x 5 = 15
3 x 6 = 18
3 x 7 = 21
3 x 8 = 24
3 x 9 = 27
3 x 10 = 30
4 x 1 = 4
4 x 2 = 8
4 x 3 = 12
4 x 4 = 16
4 x 5 = 20
4 x 6 = 24
4 x 7 = 28
4 x 8 = 32
4 x 9 = 36
4 x 10 = 40
5 x 1 = 5
5 x 2 = 10
5 x 3 = 15
5 x 4 = 20
5 x 5 = 25
5 x 6 = 30
5 x 7 = 35
5 x 8 = 40
5 x 9 = 45
5 x 10 = 50
6 x 1 = 6
6 x 2 = 12
6 x 3 = 18
6 x 4 = 24
6 x 5 = 30
6 x 6 = 36
6 x 7 = 42
6 x 8 = 48
6 x 9 = 54
6 x 10 = 60

In [ ]:
# 24.Write a command to get the value of this  6**4 ?
print(6**4)

1296

In [ ]:
# 25. What are the outputs for the code below?
for x in [1, 2, 3]:
  print(x-1)

0
1
2

In [ ]:
# 26. What is the output of print tuple[0] if tuple = ( 'abcd', 786 , 2.23, 'john', 70.2 )?
Tuple = ( 'abcd', 786 , 2.23, 'john', 70.2 )
print(Tuple[0])

abcd

In [ ]:
# 27.What is the output of L[-2] if L = [1,2,3]?
L=[1,2,3]
print(L[-2])

2

In [ ]:
# 28. What will be the output of the below given code?
colors = ['white', 'Black', 'Grey']
x = 'Red' not in colors
print(x)

True

In [ ]:
# 29. Which is mutable and immutable in List and Tuple?
# In list and tuple ,list is mutable and tuple is immutable.
# list is mutable because it can do item assignment where as tuple can't do item assigngment.
# list
a=[1,2,3,4]
a.append(5)
print(a)

# tuple
a=(1,2,3,4)
# tuple as no method which can do item assignment

[1, 2, 3, 4, 5]

In [ ]:
# What is the output of tiny * 3,  if tiny = [ 123, 'john' ]?
tiny = [ 123, 'john' ]
# A list can have all data type in the above given example the list contain
# integer and string the out put will be 123 and john 3times.
print(tiny*3)

[123, 'john', 123, 'john', 123, 'john']

In [ ]:
# 31. Which is the function to check in a string that all characters are alphanumeric?
# In a string to check whether all characters are alphanumeric the funtion is 'isalnum'

In [ ]:
# 32. What is the command line to get the output as ‘heshewe’?
a = ['he', 'she', 'we']
b=a[0]+a[1]+a[2]
print(b)

heshewe

In [ ]:
# 33. L = [ 1, 2, 1, [ 2, 3 ], 5 ]
# What is the position of number 3?
L = [ 1, 2, 1, [ 2, 3 ], 5 ]
# if we consider the index value the position of 5 is 4
# we can get it by using following command
print(L[4])

5

In [ ]:
# 34. Calculate the total number of 9 in the below-given list? And State the predefined function to
# calculate the number of 9’s?
List1 = [9, 90, 99, 999, 9999]
string = str(List1)
string.count('9')

11

In [ ]:
# 35. What is the result of this code?
nums = [10, 9, 8, 7, 6, 5]
nums[0] = nums[1] - 5
if 4 in nums:
   print(nums[3])
else:
   print(nums[4])

7

In [ ]:
# 36. What is the result of this code?
nums = [9, 8, 7, 6, 5]
nums.append(4)
nums.insert(2, 11)
print(len(nums))

7

In [ ]:
# 37. What is the result of this code?
list = [1, 1, 2, 3, 5, 8, 13]
print(list[list[4]])

8

In [ ]:
# 38. Which of the following is a false statement in python?
int(144)==144
int('144')==144
int(144.0)==144
  # None of the above

True

In [ ]:
# 39. What is the output of [ 1, 2, 3 ] + [ 4, 5, 6 ] ?
[ 1, 2, 3 ] + [ 4, 5, 6 ]

[1, 2, 3, 4, 5, 6]

In [ ]:
# 40. What is the command to sort a list?
# The command to sort a list is .sort method
# for example:
a=[1,23,17,4,13,7,20]
a.sort()
print(a)
# it sorts according to the ascii value

[1, 4, 7, 13, 17, 20, 23]

In [ ]:
# 41. Which of the following statements is used when a statement is required syntactically but you do not
# want any command or code to execute?
# a. break
# b. continue
# c. pass
# d. None of the above.
# answer:c

In [ ]:
# what is the result of this called?
tup  = ("hi", "Python", 2)
print (type(tup))
print (tup)
print (tup[1:])
print (tup[0:1])
print (tup + tup)
print (tup * 3)
# tup[2] = "hi" 
# what is the updated tup?
print(tup)

<class 'tuple'>
('hi', 'Python', 2)
('Python', 2)
('hi',)
('hi', 'Python', 2, 'hi', 'Python', 2)
('hi', 'Python', 2, 'hi', 'Python', 2, 'hi', 'Python', 2)
('hi', 'Python', 2)

In [ ]:
# 43. What is the result of this code?
for x in range(21,5,-3):
  print(x)

21
18
15
12
9
6

In [ ]:
# 44. What is the result of this code?
for i in range(0,5):
  print(i)
  break

0

In [ ]:
# 5. Program to check whether a number is even or not.
a=int(input('enter a number:'))
if (a%2)==0:
  print('it is an even number')
else:
  print('it is odd number')

enter a number:24
it is an even number

In [ ]:
# 46. Bring this output using loops.
# *
# **
# ***
# ****
# *****

for i in range(0,6):
  print('*'+i*'*')

*
**
***
****
*****
******

In [ ]:
# 47. Write a Python program to get the Python version you are using?
import sys
print('python version')
print(sys.version)
print('version info.')
print(sys.version_info)

python version
3.7.14 (default, Sep  8 2022, 00:06:44)
[GCC 7.5.0]
version info.
sys.version_info(major=3, minor=7, micro=14, releaselevel='final', serial=0)

In [ ]:
# 48. Write a python program to find prime numbers within a given interval?
# To take input from the user
num = int(input("Enter a number: "))
# define a flag variable
flag = False
# prime numbers are greater than 1
if num > 1:
# check for factors
  for i in range(2, num):
    if (num % i) == 0:
# if factor is found, set flag to True
      flag = True
# break out of loop
      break
# check if flag is True
if flag:
 print(num, "is not a prime number")
else:
 print(num, "is a prime number")

In [ ]:
# 49. Find the cube root of a number in python programming?
a = int(input('enter a number:'))
print('the cuberoot of no. is :',a**(1/3))

enter a number:27
the cuberoot of no. is : 3.0

In [ ]:
# 50. Write a Python program that will accept the base and height of a triangle and compute the area?
b=int(input('enter the value of base:'))
h=int(input('enter the value of height'))
print('the area of triangle is :',0.5*b*h)

enter the value of base:12
enter the value of height24
the area of triangle is : 144.0

In [ ]:
# 51. Write a Python program to solve (x + y) * (x + y)?
x=int(input('enter the value of x:'))
y=int(input('enter the value of y:'))
print((x+y)*(x+y))

enter the value of x:10
enter the value of y:10
400

In [ ]:
# 52. Write a Python program to calculate the sum of three given numbers, if the values are equal then
# return thrice of their sum?
a=int(input('enter a value:'))
b=int(input('enter a value:'))
c=int(input('enter a value:'))
if (a==b==c):
  print('as all are equal:',3*(a+b+c))
else:
  print('the sum of three numbers is:',a+b+c)

enter a value:2
enter a value:2
enter a value:2
as all are equal: 18

In [ ]:
# 53. Write a Python program to compute the distance between the points (x1, y1) and (x2, y2)?
x1=int(input('take the value of x1:'))
y1=int(input('take the value of y1:'))
x2=int(input('take the value of x2:'))
y2=int(input('take the value of y2:'))
a=[x1,y1]
print(a)
b=[x2,y2]
print(b)
for i in a,b:
  print('the distance between the two points is :',((x2-x1)**2 + (y2-y1)**2)**(1/2))
  break

In [ ]:
# 54. Write a Python program to calculate body mass index?
print('BODY MASS INDEX')
HEIGHT =float(input('what is your height(in meters):'))   #1cm = 0.0001m**2
WEIGHT =float(input('what is your weight (in kilogram):'))
BMI=(WEIGHT/HEIGHT**2) 
print('your body mass index is :',BMI)
if (BMI<18.5):
  print('you are under weight')
elif (BMI in range(18,26)):
  print('you have healthy weight')
elif (BMI in range(26,31)):
  print('you are overweight')
else :
  print('you are obese')

BODY MASS INDEX
what is your height(in meters):1.6
what is your weight (in kilogram):62
your body mass index is : 24.218749999999996
you are obese

In [ ]:
# 55. Write a Python program to filter the positive numbers from a list?
a=[1,-2,-34,-4,3,4,8,34]
for i in a:
  if (i>0):
    print(i)

In [ ]:
# 56. Write a Python program to test if a variable is a list or tuple or a set?
a = {'tuple', False, 3.2, 1}
if type(a) is list:
    print('a is an list')
elif type(a) is set:
    print('a is an set')
elif type(a) is tuple:
    print('a is an tuple')
else:
    print('Neither a list or a set or a tuple.')

In [ ]:
# 57. Write a Python program to check if a number is positive, negative or zero?
a=int(input('enter the a number'))
if a>0 :
  print('it is a positive number')
elif a==0 :
  print('it is zero')
else :
  print('it is a negetive number')

enter the a number-23
it is a negetive number

In [ ]:
# 58. Write a Python program to test whether a passed letter is a vowel or not?
letter = input('enter a letter:')
vowels=['a','e','i','o','u','A','E','I','O','U']
if letter in vowels:
  print('it is a vowel')
else :
  print('it is not a vowel')

enter a letter:a
it is a vowel

In [ ]:
#59. Write a program to display the multiplication table of a given number?
a=int(input('enter a number:'))
for i in range(1,11):
  print(a,'x',i,'=',a*i)

enter a number:3
3 x 1 = 3
3 x 2 = 6
3 x 3 = 9
3 x 4 = 12
3 x 5 = 15
3 x 6 = 18
3 x 7 = 21
3 x 8 = 24
3 x 9 = 27
3 x 10 = 30

In [ ]:
# 60. Write a program to add two matrices using loops?
X = [[1,2,3],
    [4 ,5,6],
    [7 ,8,9]]
Y = [[9,8,7],
    [6,5,4],
    [3,2,1]]
result = [[0,0,0],
        [0,0,0],
        [0,0,0]]
# iterate through rows
for i in range(len(X)):
# iterate through columns
    for j in range(len(X[0])):
        result[i][j] = X[i][j] + Y[i][j]
for r in result:
    print(r)

[10, 10, 10]
[10, 10, 10]
[10, 10, 10]