In [ ]:
#1Q creating a class to check whether a given number is odd or even?

class Numbers :
  def __init__(self) :
    print('check number is even or odd')
  def num(self,a):
    self.a=a
    if (a%2)==0 :
      print(f'{self.a}is an even number')
    else:
      print(f'{self.a} is an odd number')

In [ ]:
obj= Numbers()
obj.num(5)

check number is even or odd
5 is an odd number

In [ ]:
#2Q create a class to show whether a number is prime or not?

class Prime :
  def __init__(self):
    print('check whether prime or not')
  def num(self,a):
    self.a=a
    if a==0 or a==1 :
        print(f'{self.a} is neither composite nor prime')
    for i in range(2,a):
      if a%i==0 :
        print(f'{self.a}is not a prime')
        break
      else:
        print(f'{self.a} is a prime number')
        break

In [ ]:
obj = Prime()
obj.num(11)

check whether prime or not
11 is a prime number

In [ ]:
# 3Q create a class to see whether the year is leap year or not?

class Year :
  def __init__(self):
    print('check whether a year is leap year or not')
  def yr(self,a):
    self.a = a
    if (a%4==0) and (a%100!=0) or (a%400==0):
      print(f'{self.a} is a leap year')
    else :
      print(f'{self.a} is not a leap year')

In [ ]:
obj = Year()
obj.yr(2024)

check whether a year is leap year or not
2024 is a leap year

In [ ]:
# Q4 create a class to print a table?

class Table :
  def __init__(self):
    print('The multiplicaton table of given no. is')
  def tb(self,a):
    self.a=a
    for i in range(1,11):
      print(f'{a}x{i}={a*i}')

In [ ]:
obj = Table()
obj.tb(5)

The multiplicaton table of given no. is
5x1=5
5x2=10
5x3=15
5x4=20
5x5=25
5x6=30
5x7=35
5x8=40
5x9=45
5x10=50

In [ ]:
#Q4 create a class to print multiple tables?

class Tables:
  def __init__(self,a,b):
    self.a=a
    self.b=b
    print(f'the multiple table in range of {self.a} and {self.b}')
  def tbs(self,a,b):
    self.a=a
    self.b=b
    for i in range(a,b+1):
      for j in range(1,11):
        print(f'{i}x{j}={i*j}')

In [ ]:
obj = Tables(2,6)
obj.tbs(2,6)

the multiple table in range of 2 and 6
2x1=2
2x2=4
2x3=6
2x4=8
2x5=10
2x6=12
2x7=14
2x8=16
2x9=18
2x10=20
3x1=3
3x2=6
3x3=9
3x4=12
3x5=15
3x6=18
3x7=21
3x8=24
3x9=27
3x10=30
4x1=4
4x2=8
4x3=12
4x4=16
4x5=20
4x6=24
4x7=28
4x8=32
4x9=36
4x10=40
5x1=5
5x2=10
5x3=15
5x4=20
5x5=25
5x6=30
5x7=35
5x8=40
5x9=45
5x10=50
6x1=6
6x2=12
6x3=18
6x4=24
6x5=30
6x6=36
6x7=42
6x8=48
6x9=54
6x10=60

In [ ]:
#q5 create a class whether the given number is 3digit or not?

class Digits :
  def __init__(self):
    print('The given no. is :')
  def dgt(self,a):
    self.a=a
    count=0
    for i in str(a):
      count=count+1
    print(f'The given {a} is {count} digit number')

In [ ]:
obj = Digits()
obj.dgt(1234567892345678)

The given no. is :
The given 1234567892345678 is 16 digit number

In [ ]:
# Q6 create a class to check whether the given no. is three digit?

class Threedigit :
  def __init__(self,a):
    self.a=a
    print(f'The given number is {self.a} ')
  def three(self,a):
    self.a=a
    if (a>100) and (a<1000):
      print(f'{a} is a three digit')
    else :
      print(f'{a} is not a three digit number')

In [ ]:
obj = Threedigit(2340)
obj.three(2340)

The given number is 2340
2340 is not a three digit number

In [ ]:
#Q7 write a program that prints the number from 1 to 100 and for multiples of '3' print "fizz" instead of 
# the number and for the multiple of '5' print "buzz"

class M35 :
  def __init__(self,a,b):
    self.a=a
    self.b=b
    print(f'the given range is from {a} to {b}')
  def m35(self,a,b):
    self.a=a
    self.b=b
    for i in range(a,b+1):
      if ((i%3)==0):
        print('fizz')
      elif ((i%5)==0):
        print('buzz')
      else:
        print(i)

In [ ]:
obj=M35(1,20)
obj.m35(1,20)

the given range is from 1 to 20
1
2
fizz
4
buzz
fizz
7
8
fizz
buzz
11
fizz
13
14
fizz
16
17
fizz
19
buzz

In [7]:
# 8)wap to calculate scalene, issoseles based on triangle
class Triangle:
  def __init__(self,length,height,base):
    self.height=height
    self.base=base
    self.length=length
  def scalene(self,length,base,height):
    if (length != base != height):
      print('scalene triangle')
    else:
      print('invalid angles')
  def issoseles(self,length,base,height):
    if (length==base!=height) or (base==height!=length) or (height==base!=length):
      print('issoseles triangle')
    else:
      print('invalid angles')

In [9]:
clso = Triangle(10,5,7)
clso.scalene(10,5,7)

scalene triangle

In [5]:
# 9) Write a program to find the Sum of Array Elements.
class Sum_of_array:
  def __init__(self,begans,ends):
    self.begans=begans
    self.ends=ends
  def add_array(self,begans,ends):
    begans = 0
    for i in range(1,ends+1):
      begans = begans+i
    print(begans)

In [6]:
cls = Sum_of_array(1,20)
cls.add_array(1,20)

210

In [1]:
# 10) Write a program to check whether a number is a positive number or negative number
class Check:
  def __init__(self,number):
    self.number=number
  def num(self,number):
    if number > 0:
      print('is positive')
    else:
      print('is negative')

In [3]:
cls = Check(-23)
cls.num(-23)

is negative