### patterns

In [ ]:
#1.  print the patterns
#          * * * * *
#          * * * *
#          * * * 
#          * *
#          *


# for loop
for i in range(5,0,-1):
  print(i*' *')


#  while loop
i=5
while i in range(5,0,-1):
  print(i*' *')
  i-=1

# using funtion

def stars(a):
  star = 5
  for i in range(star,0,-1):
    print(i*' *') 

stars(1)

 * * * * *
 * * * *
 * * *
 * *
 *
 * * * * *
 * * * *
 * * *
 * *
 *
 * * * * *
 * * * *
 * * *
 * *
 *

In [ ]:
2.
#    *
#   **
#  ***
# ****
#*****

# for loop

j=4
for i in range(1,6):
  print((' '*j)+(i*'*'))
  j-=1

# while loop
i=1
j=4
while i in range(1,6):
  print((' '*j)+(i*'*'))
  j-=1
  i+=1



# def function

def pat3():
  j=4
  for i in range(1,6):
    print((' '*j)+(i*'*'))
    j-=1

pat3()

    *
   **
  ***
 ****
*****
    *
   **
  ***
 ****
*****
    *
   **
  ***
 ****
*****

In [ ]:
# 3.
#     *
#    ***
#   *****
#  *******
# *********
# for loop 
star = 10
space = 4

for i in range(1,star,2):
  print((' '*space)+('*'*i))
  space = space-1

#  while loop
i=1
j=4
while i in range(1,10):
    print((' '*j)+(i*'*'))
    i+=2
    j-=1  

# using def funtion
def pat1():
  j=4
  for i in range(1,10,2):
    print((' '*j)+(i*'*'))
    j=j-1

pat1()

    *
   ***
  *****
 *******
*********
    *
   ***
  *****
 *******
*********
    *
   ***
  *****
 *******
*********

In [ ]:
# 4.
# *********
#  ******* 
#   *****  
#    ***   
#     *


# for loop
j=1
for i in range(9,0,-2):
  print((' '*j)+(i*'*'))
  j+=1

# while loop
i=9
j=1
while i in range(9,0,-1):
    print((' '*j)+(i*'*'))
    i-=2
    j+=1

# using def funtion
def pat2():
  j=1
  for i in range(9,0,-2):
    print((' '*j)+(i*'*'))
    j+=1
pat2()

 *********
  *******
   *****
    ***
     *

In [ ]:
# 5.
# 1
# 11
# 111
# 1111
# 11111

# for loop

for i in range(1,6):
  print('1'*i)

# while loop

i=1
while i in range(1,6):
  print('1'*i)
  i+=1

# using def funtion

def pat4():
  for i in range(1,6):
    print('1'*i)
pat4()

1
11
111
1111
11111
1
11
111
1111
11111
1
11
111
1111
11111

In [ ]:
# 6.
# 1
# 12
# 123 
# 1234
# 12345
# 123456
# 1234567
# 12345678

# for loop

# rows = int(input('enter the number of rows:')
# for i in range(0,rows):
#   a=1
#   for j in range(i+1):
#     print(a,end="")
#     a+=1
#   print()


# while loop

# i=0
# while i in range(0,rows):
#    a=1
#    while j in range(i+1):
#      print(j,end='')
#      i+=1
#      a+=1

# using def function
row = int(input('enter the number of rows:'))
def pat5():
  for i in range(0,row):
    a=1
    for j in range(i+1):
      print(a,end='')
      a+=1
    print()

pat5()

enter the number of rows:8
1
12
123
1234
12345
123456
1234567
12345678

In [ ]:
# 7.
# 2  9
# 3  8
# 4  7
# 5  6
# 6  5
# 7  4
# 8  3
# 9  2
# 10 1

# for loop
j=10
for i in range(2,11):
  j=j-1
  print(i,j)


# while loop
j=10
i=2
while i in range(2,11):
  j=j-1
  print(i,j)
  i+=1

# def function

def patr():
  j=10
  for i in range(2,11):
    j-=1
    print(i,j)

patr()

2 9
3 8
4 7
5 6
6 5
7 4
8 3
9 2
10 1
2 9
3 8
4 7
5 6
6 5
7 4
8 3
9 2
10 1
2 9
3 8
4 7
5 6
6 5
7 4
8 3
9 2
10 1

In [ ]:
# 8.
# 0 * 9 + 8        = 8
# 9 * 9 + 7        = 88
# 98 * 9 + 6       = 888
# 987 * 9 + 5      = 8888
# 9876 * 9 + 4     = 88888
# 98765 * 9 + 3    = 888888
# 987654 * 9 + 2   = 8888888
# 9876543 * 9 + 1  = 88888888
# 98765432 * 9 + 0 = 888888888

# print('0','*','9','+','8' ,'        ','=8')

# for loop
a='098765432'
sum=" "
N=9
for i in range(0,9):       
 sum = sum + a[i]
 b=int(sum)  
 N=N-1
 print(b,'*','9','+',N,N*' ','=',(b*9)+N)


# while loop
a='098765432'
sum=" "
N=9
i=0
while i in range(0,9):       
 sum = sum + a[i]
 b=int(sum)  
 N=N-1
 i+=1
 print(b,'*','9','+',N,N*' ','=',(b*9)+N)


# def functions

def patt16(b,N):
  a='098765432'
  sum=" "
  N=9
  for i in range(0,9):       
   sum = sum + a[i]
   b=int(sum)  
   N=N-1
   print(b,'*','9','+',N,'=',N*' ',(b*9)+N)
patt16(b,N)

0 * 9 + 8          = 8
9 * 9 + 7         = 88
98 * 9 + 6        = 888
987 * 9 + 5       = 8888
9876 * 9 + 4      = 88888
98765 * 9 + 3     = 888888
987654 * 9 + 2    = 8888888
9876543 * 9 + 1   = 88888888
98765432 * 9 + 0  = 888888888
0 * 9 + 8          = 8
9 * 9 + 7         = 88
98 * 9 + 6        = 888
987 * 9 + 5       = 8888
9876 * 9 + 4      = 88888
98765 * 9 + 3     = 888888
987654 * 9 + 2    = 8888888
9876543 * 9 + 1   = 88888888
98765432 * 9 + 0  = 888888888
0 * 9 + 8 =          8
9 * 9 + 7 =         88
98 * 9 + 6 =        888
987 * 9 + 5 =       8888
9876 * 9 + 4 =      88888
98765 * 9 + 3 =     888888
987654 * 9 + 2 =    8888888
9876543 * 9 + 1 =   88888888
98765432 * 9 + 0 =  888888888

In [ ]:
# 9.
# 1
# 22
# 333
# 4444
# 55555

# for loop
# rows = int(input('enter the no. of rows:'))
# for i in range(rows):
#     for j in range(i):
#         print(i, end='')
#     print('')


# while loop
# i=1
# while i in range(rows):
#   j=2
#   while j in range(i):
#     print(i,end='')
#     i+=1
#     j+=1

# funtions

def patt9():
 rows =int(input('enter the number of rows:'))
 for i in range(rows):
    for j in range(i):
        print(i, end='')
    print('')
patt9()

enter the number of rows:6

1
22
333
4444
55555

In [ ]:
# 10.
# 54321
# 4321
# 321
# 21
# 1

# for loop
b=7
for i in range(1,6):
    b=b-1
    v=''
    for j in range(1,b):
      v=v+str(j)
      z=v[::-1]
    print(z)


# WHILE LOOP

# FUNCTION

def patt10(b,z):
  b=7
  for i in range(1,6):
    b=b-1
    v=''
    for j in range(1,b):
      v=v+str(j)
      z=v[::-1]
    print(z)
patt10(1,5)

54321
4321
321
21
1

In [ ]:
# 11.
# 1
# 2  3
# 4  5  6
# 7  8  9  10
# 11 12 13 14 15

k = 1
for i in range(0, 5):
    for j in range(0, i+1):
        print(k, end=" ")
        k = k + 1
    print()


# def function

def patt14(a,b):
  a = 5
  b = 1
  for i in range(1,1+a):
    for j in range(1,i+1):
      print(b,end=' ')
      b=b+1
    print()
patt14(5,1)

1
2 3
4 5 6
7 8 9 10
11 12 13 14 15
1
2 3
4 5 6
7 8 9 10
11 12 13 14 15

In [ ]:
# 12.
# 1  2  3  4  5
# 6  7  8  9
# 10 11 12
# 13 14
# 15

# for loop
b = 1 
for i in range(6,0,-1):
    for j in range(i-1):
      if b>9:
        print(b,end=' ')
      else:
        print(b, end="  ")
      b = b+1
    print()

# def function
def patt15(b):
  b = 1 
  for i in range(6,0,-1):
      for j in range(i-1):
        if b>9:
          print(b,end=' ')
        else:
          print(b, end="  ")
        b = b+1
      print()
patt15(1)

1  2  3  4  5
6  7  8  9
10 11 12
13 14
15

1  2  3  4  5
6  7  8  9
10 11 12
13 14
15

In [ ]:
# 13.
#   A
#  ABC
# ABCDE

# for loop
n = 3
for i in range(n):
    for j in range(n - i - 1):
          print(' ', end='')
    for k in range(2 * i + 1):
          print(chr(65 + k), end='')
    print()



# def fuuntion
def patt17(n):
  n = 3
  for i in range(n):
      for j in range(n - i - 1):
          print(' ', end='')
      for k in range(2 * i + 1):
          print(chr(65 + k), end='')
      print()
patt17(3)

  A
 ABC
ABCDE
  A
 ABC
ABCDE

In [ ]:
# 14.
# daimond pattern

# for loop 
a=int(input('star '))
b=int(input('space '))
c=int(input('stop '))
d=int(input('space '))
for i in range(1,a,2):
   print((' '*b)+('*'*i))
   b=b-1
for i in range(c,0,-2):
  print((' '*d)+('*'*i))
  d=d+1
print()


# # def function
# def patt8(a,b,c,d):
#  for i in range(1,a,2):
#    print((' '*b)+('*'*i))
#    b=b-1
#  for i in range(c,0,-2):
#   print((' '*d)+('*'*i))
#   d=d+1
# patt8(10,5,9,1)

star 10
space 5
stop 9
space 1
     *
    ***
   *****
  *******
 *********
 *********
  *******
   *****
    ***
     *

In [ ]:
# 15.
# 1
# 2 4
# 3 6 9
# 4 8 12 16
# 5 10 15 20 25
# 6 12 18 24 30 36
# 7 14 21 28 35 42 49
# 8 16 24 32 40 48 56 64
# 9 18 27 36 45 54 63 72 81
# 10 20 30 40 50 60 70 80 90 100


# for loop

rows = 10
for i in range(1, rows + 1):
    for j in range(1, i + 1):
        square = i * j
        print(i * j, end=' ')
    print()

# # while loop
# rows =11
# i=1
# while i in range(1,rows):
#   while j in range(1,i+1):
#     square = i*j
#     print(i*j,end=' ')
#     i+=1
#     j+=1
#   print()

# def  function

def patt13():
 rows = 10
 for i in range(1, rows + 1):
    for j in range(1, i + 1):
        square = i * j
        print(i * j, end=' ')
    print()
patt13()

1
2 4
3 6 9
4 8 12 16
5 10 15 20 25
6 12 18 24 30 36
7 14 21 28 35 42 49
8 16 24 32 40 48 56 64
9 18 27 36 45 54 63 72 81
10 20 30 40 50 60 70 80 90 100
1
2 4
3 6 9
4 8 12 16
5 10 15 20 25
6 12 18 24 30 36
7 14 21 28 35 42 49
8 16 24 32 40 48 56 64
9 18 27 36 45 54 63 72 81
10 20 30 40 50 60 70 80 90 100

In [ ]:
#              1
#            2 3
#          4 5 6
#       7 8 9 10
# 11 12 13 14 15

k = 1
l=12

for i in range(1,6):
  print(l*' ',end='')

  for j in range(i):
    s=' '
    if k>9:
      l=0
      print(k,end=' ')
      
    else:
       print(k,end='  ')
    
    k=k+1
  print()
  l-=3

            1
         2  3
      4  5  6
   7  8  9  10
11 12 13 14 15